{% extends 'admin/change_list.html' %}

{% block content %}
<div class="saas-kpi-grid">
    <div class="saas-kpi-card">
        <h3 class="saas-kpi-title">Total Patients</h3>
        <p class="saas-kpi-value">{{ kpi_total_patients }}</p>
    </div>
    <div class="saas-kpi-card">
        <h3 class="saas-kpi-title">Male Patients</h3>
        <p class="saas-kpi-value">{{ kpi_male }}</p>
    </div>
    <div class="saas-kpi-card">
        <h3 class="saas-kpi-title">Female Patients</h3>
        <p class="saas-kpi-value">{{ kpi_female }}</p>
    </div>
</div>
{{ block.super }}
{% endblock %}
